<!DOCTYPE html>
<html>
	<head>
		<title>Allen SDK 2.0</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'allen_sdk_app/css/materialize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'allen_sdk_app/css/myStyles.css' %}">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'allen_sdk_app/js/myJquery.js' %}"></script>
	</head>
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper light-blue darken-4">
					<a href="{% url 'index' %}" class="brand-logo left">ALLEN BRAIN ATLAS</a>
				</div>
			</nav>	
		</div>	
		<div class="row container">
			<div class="col s6 offset-s3 center-align">
				<h1>Select An SDK</h1>
			</div>
		</div>
		<div class="row container">
			<div class="section">
				<div id="brain-observatory-card" class="col s4 hoverable center-align">
					<a href="{% url 'brain_observatory_index' %}"><span class="flow-text">Brain Observatory SDK</span></a>
				</div>
				<div id="cell-types-card" class="col s4 hoverable center-align">
					<a href="#"><span class="flow-text">Cell Types SDK</span></a>
				</div>
				<div id="mouse-connectivity-card" class="col s4 hoverable center-align">
					<a href="#"><span class="flow-text">Mouse Connectivity</span></a>
				</div>
			</div>
		</div>
		<div class="row container">
			<div class="section">
				<div class="col s6 offset-s3 center-align">
					<p id="overview" class="flow-text">hover over an SDK to see a description</p>
					<p id="brain-observatory-overview" class="flow-text hidden">
						The Brain Observatory SDK contains data collected from mouse visual cortex. 
						This data features visually evoked neuronal activity from:
						fluorescing neurons in selected cortical layers	
						neurons in different visual areas
						neurons in different mouse Cre lines
						The data will allow you to observe the dynamic behavior of neurons 
					</p>
					<p id="cell-types-overview" class="flow-text hidden">
						The Cell Types SDK database contains data from comprehensive study on individual neurons in mouse primary visual cortex. 
						This data features the following neuronal characteristics:
						electrophiological properties
						Morphological attributes
						The data will allow you to discover the characteristic differences between types of neurons 						
					</p>
					<p id="mouse-connectivity-overview" class="flow-text hidden">
						The Mouse connectivity database contains a large assortment of experimental data collected in order to better understand how specific regions in the mouse brain are connected. The data consists of a collection of high resolution images, each of which targets a specific area of the mouse brain and follows the pathways the respective region projects onto.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>