<!DOCTYPE html>
<html>
	<head>
		<title>Getting Started | Beginner's Guide</title>
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load staticfiles %}
		<!--Import css files-->
		<link rel="stylesheet" type="text/css" href="{% static 'beginners_app/css/myStyles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'beginners_app/css/materialize.css' %}">
		<!--Import jQuery before materialize.js and myJquery.js-->	
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'beginners_app/js/myJquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'beginners_app/js/materialize.js' %}"></script>


	</head>
	<body>
		<!-- fixed nav bar at the top -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper  light-blue darken-4">
					<a href="{% url 'index' %}" class="brand-logo flow-text minimum-width left">ALLEN BRAIN ATLAS</a>
				</div>
			</nav>	
		</div>
		<!-- Sidebar Navigator-->
		<div class="row" >
			<div class="sidebar-menu col s2">
				<!-- Title showing the name of the current app the use is on -->
				<div class="center">
					<a href="#"><h1 class="boxed-item flow-text">ALLEN <span class="logo-bold">SDK</span></h1></a>
					<h2 class="app-title flow-text">Beginner's Guide</h2>
				</div>
				<div>
					<!-- collapsable sidnav content -->
					<ul class="collapsible" data-collapsible="accordion">
						<li class="section nav-item">
							<div class="section collapsible-header"><a href="{% url 'beginners_index' %}">Welcome</a>
							<i class="material-icons"></i></div>
							<ul class="collapsible-body">
								<li id="intro-to-aibs-selector" class="section nav-item">Basic Workflow</li>
								<li id="intro-to-aibs-selector" class="section nav-item">About the Allen Brain Altas SDK</li>
								<li id="intro-to-aibs-selector" class="section nav-item">What are our Data Resources</li>					
							</ul>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header"><a href="{% url 'installation' %}">Installing</a>
							<i class="material-icons"></i></div>
							<ul class="collapsible-body">
								<li class="section nav-item">Conda install</li>
								<li class="section nav-item">PIP installs</li>
								<li class="section nav-item">Dependencies</li>
								<li class="section nav-item">Operating Systems</li>
							</ul>
						</li>		
					</ul>
				</div>
				<div class="center">
					<a href="#"><h2 class="boxed-item box-highlight flow-text">Need Help?</h2></a>
				</div>
			</div>
		</div>
		<!-- this will contain the title of the main content -->
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container blue  div-border">
					<h1 class="white-text center-align">Welcome to the Beginner's Guide</h1>
				</div>
			</div>
		</div>
		<!-- this wil contain content -->
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container div-border">
					<h2 id="intro-to-aibs-header" class="center-align">Basic Workflow</h2>
					<p id="intro-to-aibs" class="flow-text center">
					Using the Allen Brain Atlas SDK can be tricky if you only just starting to explore our data. This guide will serve to inform you about the resources and tools we have available. A basic workflow to get you started is to follow diagram 1. 
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container div-border">
					<h2 id="intro-to-aibs-header" class="center-align">About the Allen Brain Atlas SDK</h2>
					<p id="intro-to-aibs" class="flow-text center">
					The 'Allen Brain Atlas SDK' is an open-data platform that allows you to explore our publicaly available data and tools. Here we have
					created multiple data resources, each of which will allow you to discover different insights into the brain works! As you get comfortable with the structure and organization of our data, feel free to go the extra mile and explore connections between the components of the different resources. Or even compare our data against your own!   
					</p>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container div-border">
					<h2 id="intro-to-aibs-header" class="center-align">What Are Our Data Resources?</h2>
					<p id="intro-to-aibs" class="flow-text center">
					Our data resources are a growing collection of online public resources integrating extensive gene expression and neuranatomical data. Currently we have made available three of these resources, each of which will provide you with a unqiue look into the brain:   
					</p>
					<ul>
						<li>Brain Observatory: explore sensory processing in the mouse visual cortex</li>
						<li>Cell Types DB: observe the electrophysiological and morphological properties of individual neurons in the mouse primary visual cortex</li>
						<li>Mouse Connectivity Atlas: Understand the complex architecture of neuronal connections in the mouse brain</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>

