<!DOCTYPE html>
<html>
	<head>
		<title>Allen SDK</title>
		{% load staticfiles %}
		<!-- import css files  -->
		<link rel="stylesheet" type="text/css" href="{% static 'allen_sdk_app/css/materialize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'allen_sdk_app/css/myStyles.css' %}">
		<!-- import javascript files -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'allen_sdk_app/js/index_jQuery.js' %}"></script>
		
	</head>
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper light-blue darken-4">
					<a href="{% url 'index' %}" class="brand-logo left">ALLEN BRAIN ATLAS</a>
				</div>
			</nav>	
		</div>
		<div class="row container">
			<video id="bgvid" playsinline autoplay muted loop>
				<source src="https://www.alleninstitute.org/media/filer_public/96/a8/96a8dbb1-bc95-4d6f-81f7-1858bc9fb2ec/hero_3-17-17.mp4" type="video/mp4">
			</video>
		</div>
		<div id="card-holder" class="row container">
			<div class="col s6 offset-s3 center-align">
				<h1>Welcome to the Brain Atlas SDK</h1>
				<h6>Explore, Analyze, & Discover</h6>
			</div>			
			<div class="section">
				<div id="beginners-card"class="col s4 hoverable center-align">
					<a href="{% url 'beginners_index' %}"><span class="flow-text">Beginners start here</span></a>
				</div>
				<div id="select-sdk-card"class="col s4 hoverable center-align">
					<a href="{% url 'select_sdk' %}"><span class="flow-text">Select A Data Resource</span></a>
				</div>
				<div id="coding-gurus-card"class="col s4 hoverable center-align">
					<a href="https://github.com/AllenInstitute/AllenSDK"><span class="flow-text">Github Access</span></a>
				</div>
			</div>
		</div>
	</body>
</html>