<!DOCTYPE html>
<html>
	<head>
		<title>Allen SDK</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'allen_sdk_app/css/materialize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'allen_sdk_app/css/myStyles.css' %}">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'allen_sdk_app/js/myJquery.js' %}"></script>
	</head>
	<body>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper light-blue darken-4">
					<a href="{% url 'index' %}" class="brand-logo left">ALLEN BRAIN ATLAS</a>
				</div>
			</nav>	
		</div>	
		<div class="row container">
			<video id="bgvid" playsinline autoplay muted loop>
				<source src="https://www.alleninstitute.org/media/filer_public/96/a8/96a8dbb1-bc95-4d6f-81f7-1858bc9fb2ec/hero_3-17-17.mp4" type="video/mp4">
			</video>		
		</div>
		<div id="card-holder" class="row container">
			<div class="col s6 offset-s3 center-align">
				<h1>Explore the Data Resources</h1>
			</div>
			<div class="section">
				<div id="brain-observatory-card" class="col s4 hoverable center-align">
					<div class="card-image">
						<a href="{% url 'brain_observatory_index' %}">
							<span class="flow-text">Brain Observatory</span>
						</a>
					</div>
				</div>
				<div id="cell-types-card" class="col s4 hoverable center-align">
					<a href="#">
						<span class="flow-text">Cell Types Database</span>
					</a>
				</div>
				<div id="mouse-connectivity-card" class="col s4 hoverable center-align">
					<a href="#">
						<span class="flow-text">Mouse Connectivity Atlas</span>
					</a>
				</div>
			</div>
		</div>

		<div class="row container">
			<div class="section">
				<div class="col s6 offset-s3 left-align">
					<div id="brain-observatory-overview" class="flow-text hidden white-text">
						The Brain Observatory SDK contains data collected from mouse visual cortex. 
						This data features visually evoked neuronal activity from:
						<br>
						<ul class="left-align">
							<li>Fluorescent neurons in selected cortical layers.</li>
							<li>Neurons in different visual areas.</li>
							<li>Neurons in different mouse Cre lines.</li>
						</ul>
						Here, you can observe the dynamic behavior of neurons!		 
					</div>
					<div id="cell-types-overview" class="flow-text hidden white-text">
						The Cell Types SDK database contains data from comprehensive study on individual neurons in mouse primary visual cortex. This data features the following neuronal characteristics:
						<ul class="left-align">
							<li>Electrophysiological properties.</li>
							<li>Morphological attributes.</li>
						</ul>
						Here, you will discover the characteristic differences between types of neurons! 						
					</div>
					<div id="mouse-connectivity-overview" class="flow-text hidden white-text">
						The Mouse connectivity Atlas contains experimental data to better understand how connections in the mouse brain.
						The data consists of the following:
						<ul>
						 	<li>a collection of high resolution images.</li> 
						 	<li>images targeting specific area mouse cortex.</li> 
						 	<li>images following the neuoronal pathways and projections.</li>
						 </ul>
						Here, you can explore the pathways through which neurons connect!
					</div>
				</div>
			</div>
		</div>

	</body>
</html>