<!DOCTYPE html>
<html>
	<head>
		<title>Welcome | Brain Observatory </title>
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load staticfiles %}
		<!--Import css files-->
		<link rel="stylesheet" type="text/css" href="{% static 'brain_observatory_app/css/myStyles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'brain_observatory_app/css/materialize.css' %}">
		<!--Import jQuery before materialize.js and myJquery.js-->	
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'brain_observatory_app/js/myJquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'brain_observatory_app/js/materialize.js' %}"></script>

	</head>
	<body>
		<!-- fixed nav bar at the top -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper  light-blue darken-4">
					<a href="{% url 'index' %}" class="brand-logo flow-text minimum-width">ALLEN BRAIN ATLAS</a>
				</div>
			</nav>	
		</div>
		<!-- Sidebar Navigator-->
		<div class="row" >
			<div class="sidebar-menu col s2">
				<!-- Title showing the name of the current app the use is on -->
				<div class="center">
					<a href="#"><h1 class="boxed-item flow-text">ALLEN <span class="logo-bold">SDK</span></h1></a>
					<h2 class="app-title flow-text">Brain Observatory</h2>
				</div>
				<div>
					<!-- sidenac tabs as collapsables-->
					<ul class="collapsible" data-collapsible="accordion">
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'brain_observatory_index' %}">Welcome</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">About</li>
								<li class="section nav-item">This is second section.</li>
							</ul>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'tutorials' %}">Tutorials</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">Intro to Experiment Containers</li>
								<li class="section nav-item">This is second section.</li>
							</ul>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'documentation' %}">Documentation</a>
								<i class="material-icons"></i>
							</div>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'release_notes' %}">Release Notes</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">Revision 0.13.2</li>
								<li class="section nav-item">This is second section.</li>
							</ul>
						</li>		
					</ul>
				</div>
				<div class="center">
					<a href="#"><h2 class="boxed-item box-highlight flow-text">Need Help?</h2></a>
				</div>
			</div>			
		</div>
		<!-- this will contain the main content -->
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container blue div-border">
					<h1 class="white-text center-align">Welcome to the Brain Observatory SDK</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container div-border">
					<h1 class="center-align">About</h1>
					<p class="flow-text center">The Brain Observatory is home to an ongoing data pipeline, dedicated to the study of the mouse visual cortex via 2-photon excitation microscopy. The 2-photon imaging setup makes use of optogenetic techniques that allow for the study of the dynamics of individual neurons. Essentially, what happens is that individual neurons are genetically modified so that they emit fluorescence when light from a laser is shined on the region that they occupy. This gives experimentalists the ability to probe and study the dynamics of indidivual neurons under controlled conditions.</p>
				</div>
			</div>
		</div>
	</body>
</html>

