<!DOCTYPE html>
<html>
	<head>
		<title>Analysis | Brain Observatory </title>
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load staticfiles %}
		<!--Import css files-->
		<link rel="stylesheet" type="text/css" href="{% static 'brain_observatory_app/css/myStyles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'brain_observatory_app/css/materialize.css' %}">
		<!--Import jQuery before materialize.js and myJquery.js-->	
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'brain_observatory_app/js/myJquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'brain_observatory_app/js/materialize.js' %}"></script>

	</head>
	<body>
		<!-- fixed nav bar at the top -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper  light-blue darken-4">
					<a href="{% url 'index' %}" class="brand-logo flow-text minimum-width">ALLEN BRAIN ATLAS</a>
				</div>
			</nav>	
		</div>
		<!-- Sidebar Navigator-->
		<div class="row" >
			<div class="sidebar-menu col s2">
				<!-- Title showing the name of the current app the use is on -->
				<div class="center">
					<a href="#"><h1 class="boxed-item flow-text">ALLEN <span class="logo-bold">SDK</span></h1></a>
					<h2 class="app-title flow-text">Brain Observatory</h2>
				</div>
				<div>
					<!-- sidenac tabs as collapsables-->
					<ul class="collapsible" data-collapsible="accordion">
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'brain_observatory_index' %}">Welcome</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">Basic Workflow</li>
								<li class="section nav-item">About the Brain Observatory</li>
								<li class="section nav-item">Overview of Experiment</li>
								<li class="section nav-item">Overview of Visual Stimuli</li>
								<li class="section nav-item">Overview of the Data</li>
							</ul>
						</li>
						<!-- the goal of the Analysis section is to show the user basics of what they can create with the data -->
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'analysis' %}">Analysis</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">Analysis Overview</li>
								<li class="section nav-item">Fluorescence Traces</li>
								<li class="section nav-item">ROI Masks</li>
								<li class="section nav-item">Neuropil Correction</li>
								<li class="section nav-item">Mouse Movement Analysis</li>
								<li class="section nav-item">Motion Correction</li>
								<li class="section nav-item">Eye Tracking</li>
							</ul>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'walkthroughs' %}">Walkthroughs</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">Walkthrough Overview</li>
								<li class="section nav-item">Run Cluster Analysis Based on Cell Responses</li>
							</ul>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'tutorials' %}">Tutorials</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">Tutorials Overview</li>
								<li class="section nav-item">Intro to Experiment Containers</li>
								<li class="section nav-item">Finding Cells of Interest</li>
								<li class="section nav-item">Get Data for Fluorescence Traces</li>
								<li class="section nav-item">Get Data for ROI Masks</li>
								<li class="section nav-item">Get Data for Neuropil Correction</li>
								<li class="section nav-item">Get Data for Running Analysis</li>
								<li class="section nav-item">Get Data for Motion Correction</li>
								<li class="section nav-item">Get Data for Eye Tracking</li>
							</ul>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'documentation' %}">Documentation</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">	
								<li class="section nav-item">Documentation Overview</li>	
								<li class="section nav-item">Access Documentation</li>
							</ul>
						</li>
						<li class="section nav-item">
							<div class="section collapsible-header">
								<a href="{% url 'release_notes' %}">Release Notes</a>
								<i class="material-icons"></i>
							</div>
							<ul class="collapsible-body">
								<li class="section nav-item">Revision 0.13.2</li>
								<li class="section nav-item">This is second section.</li>
							</ul>
						</li>		
					</ul>
				</div>
				<div class="center">
					<a href="#"><h2 class="boxed-item box-highlight flow-text">Need Help?</h2></a>
				</div>
			</div>			
		</div>
		<!-- this will contain the main content -->
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container blue div-border">
					<h1 class="white-text center-align">Analysis</h1>
				</div>
			</div>
		</div>
		<!-- CONTENT -->
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container section">
					<h3 class="center-align">Analysis Overview</h3>
					<div class="left-align flow-text">
						<p> Our Brain Observatory project reveals how neurons encode different visual stimuli in both single cells and populations of cells found within mouse visual cortex.</p>
						<p>But what can we do with this data? We can explore functional properties of neurons in the brain area by looking at spatial and temporal response characteristics of visual neurons. With this, we can then come one step closer to answering how neurons encode visual information.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2  green lighten-5">
				<div class="container section">
					<h3 class="center-align">Fluorescence Traces</h3>
					<div class="left-align flow-text">
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container section">
					<h3 class="center-align">ROI Masks</h3>
					<div class="left-align flow-text">
					</div>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col s10 offset-s2 orange lighten-5">
				<div class="container section">
					<h3 class="center-align">Neuropil Correction</h3>
					<div class="left-align flow-text">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container section">
					<h3 class="center-align">Mouse Movement Analysis</h3>
					<div class="left-align flow-text">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2 purple lighten-5">
				<div class="container section">
					<h3 class="center-align">Motion Correction</h3>
					<div class="left-align flow-text">
					</div>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container section">
					<h3 class="center-align">Eye Tracking</h3>
					<div class="left-align flow-text">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

