<!DOCTYPE html>
<html>
	<head>
		<title>Documentation | Brain Observatory</title>
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load staticfiles %}
		<!--Import css files-->
		<link rel="stylesheet" type="text/css" href="{% static 'brain_observatory_app/css/myStyles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'brain_observatory_app/css/materialize.css' %}">
		<!--Import jQuery before materialize.js and myJquery.js-->	
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'brain_observatory_app/js/myJquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'brain_observatory_app/js/materialize.js' %}"></script>

	</head>
	<body>
		<!-- fixed nav bar at the top -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper  light-blue darken-4">
					<a href="{% url 'index' %}" class="brand-logo flow-text minimum-width left">ALLEN BRAIN ATLAS</a>
				</div>
			</nav>	
		</div>
		<!-- Sidebar Navigator-->
		<div class="row" >
			<div class="sidebar-menu col s2">
				<!-- Title showing the name of the current app the use is on -->
				<div class="center">
					<a href="#"><h1 class="boxed-item flow-text">ALLEN <span class="logo-bold">SDK</span></h1></a>
					<h2 class="app-title flow-text">Brain Observatory</h2>
				</div>
				<div>
					<ul>
						<li class="section app-title flow-text">
							<a href="{% url 'brain_observatory_index' %}"><i class="material-icons tiny">arrow_back</i>Documentation</a>
						</li> 
						<li class="nav-item">Overview</li>
					</ul>
		        </div>
		        <div class="center">
		         	<a href="#"><h2 class="boxed-item box-highlight flow-text">Need Help?</h2></a>
		        </div>
			</div>
		</div>
		<!-- this will contain the main con -->
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container blue div-border">
					<h1 class="white-text center">Documentation</h1>
				</div>
			</div>
		</div>
		<!-- content -->
		<div class="row">
			<div class="col s10 offset-s2">
				<div class="container section">
					<h1 class="center-align">Overview</h1>
					<p class="flow-text center">Click the button below to be directed to our documentation in readthedocs</p>
					<div class="center-align">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s10 offset-s2 indigo lighten-5">
				<div class="container section">
					<h1 class="center-align">Image Here</h1>
					<p class="flow-text center">Click the button below to be directed to our documentation in readthedocs</p>
					<div class="center-align">
						<a href="http://localhost:1234/" target="_blank">
							<button class="btn waves-effect waves-light green type="submit" name="action">
								to readthedocs
								<i class="material-icons right">book</i>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

